* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #f0f0f0;
}

nav {
    background-color: #083075 ;
    padding: 20px;
    display: flex;
    opacity: 0.8;
    justify-content: right;
    font-size: 25px;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    font-weight: bold;
  }

  button {
    padding: 7px 15px;
    background-color: #326dd3;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 15px;
  }
  
  button:hover {
    background-color: #083075;
  }

body {
    background-image: url('gateshead-hero.jpg');
    background-size: cover;
}

#searchInput {
    color: black;
    background-color: #f0f0f0;
    width: 300px;
    padding: 15px;
    border-style: none;
    font-size: 20px;
    border-radius:25px;
}

#navButtons {
    float: left;
    margin-right: 250px;
    margin-top: 10px;
}

#searchForm {
    opacity: 0.8;
    border-radius: 25px;
    float: right;
    background-color: #f0f0f0;
}