* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #083075 ;
    padding: 20px;
    display: flex;
    opacity: 0.8;
    align-items: center;
    justify-content: right;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  button {
    padding: 7px 15px;
    background-color: #265097;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  input {
    width: 200px;
    padding: 5px;
  }

body {
    background-image: url('gateshead-hero.jpg');
    background-size: cover;
}